In [10]:
import sdepy
import numpy as np

@sdepy.integrate
def my_process(t, x, theta=1., k=1., sigma=1.):
    return {'dt': k*(theta - x), 'dw': sigma}

x = my_process(x0=1, paths=100*1000, steps=100)

In [14]:
timeline = np.linspace(0., 1., 5)
x(timeline)
timeline

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [31]:
ALPHAVANTAGE_API = 'S09O7OIWCQWSMDGQ'
import requests
import json
import pandas as pd

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&date=2017-11-15&symbol=IBM&interval=5min&apikey={ALPHAVANTAGE_API}'
r = requests.get(url)
data = r.json()["Time Series (Daily)"]

df = pd.DataFrame([data[elem] for elem in data])
df.rename(columns={
    '1. open': 'Open',
    '2. high': 'High',
    '3. low': 'Low',
    '4. close': 'Close',
    '5. volume': 'Volume'
}, inplace=True)

df['Date'] = data.keys()
df.set_index('Date', inplace=True)
df.index = pd.to_datetime(df.index)
#with open('data.json', 'w') as f:
#    json.dump(data, f)

In [32]:
df

                Open      High       Low     Close   Volume
Date
2024-09-06  202.3800  204.1000  199.3350  200.7400  3304491
2024-09-05  204.0800  205.9500  200.9600  202.5900  3229345
2024-09-04  200.7600  204.3600  200.5000  204.1100  3111332
2024-09-03  201.9100  204.7200  200.2100  201.2800  3874697
2024-08-30  199.1100  202.1700  198.7300  202.1300  4750999
...              ...       ...       ...       ...      ...
2024-04-22  182.4500  183.3150  180.4500  181.9000  3076451
2024-04-19  182.4300  182.8000  180.5700  181.5800  3037990
2024-04-18  182.3500  183.4600  180.1700  181.4700  2886733
2024-04-17  184.1600  184.6700  181.7800  183.1000  3003033
2024-04-16  185.5900  185.7100  182.8600  183.7500  4473654

[100 rows x 5 columns]

In [33]:
import mplfinance as mpf
mpf.plot(df, type='candle', style='charles', volume=True, title='Sample Stock Data', ylabel='Price')

TypeError: Expect data.index as DatetimeIndex